In [7]:
import pandas as pd
import numpy as np
movies = pd.read_csv("movies.csv")

movies.drop('genres', axis=1, inplace=True)
movies.head()

   movieId                                 title
0      305  Ready to Wear (Pret-A-Porter) (1994)
1     3180            Play it to the Bone (1999)
2     2290              Stardust Memories (1980)
3     2789                Damien: Omen II (1978)
4      556                  War Room, The (1993)

In [8]:
ratings = pd.read_csv("predictresult.csv")
ratings.head()

   userId  movieId  rating
0       1        1  4.0771
1       1        2  4.0985
2       1        3  4.0980
3       1        4  4.0969
4       1        5  4.0984

In [9]:
#def replace_name(x):
    #return movies[movies["movieId"]==x].title.values[0]
#ratings.movieId=ratings.movieId.map(replace_name)
M = ratings.pivot_table(index=["userId"],columns=["movieId"],values="rating")
M.shape
M
M.to_csv('TFmatrixrate.csv',index=False,header=False)